@import "null.css";
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Roboto:ital,wght@0,500;0,700;1,400&display=swap");

.wrapper {
  overflow: hidden;
  min-height: 100%;
  max-width: 810px;
  margin: 0 auto;
}

body {
  color: #424551;
  font-family: Lato, sans-serif;
  line-height: 1.6;
}
h1 {
  font-weight: 900;
  font-size: 46px;
  line-height: 1.3;
  color: #1e212c;
  margin: 95px 0;
}
.content {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  color: #1e212c;
  margin: 57px 0 35px 0;
}
.paragraph {
  padding-left: 45px;
}
.block > p + p {
  padding-top: 35px;
}
.content-2 {
  margin-bottom: 30px;
}
li {
  padding-left: 25px;
}
.text {
  margin: 25px 0 55px 0;
}
